@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Comic+Neue|Roboto&display=swap');

html {
    height: 100%;
    position: relative;
}
body{
    margin: 0;
    /* There's an image (with an opacity percentage) you can use as a background, but I don't know if it looks fine, so in the meanwhile I'll just use the color gradient below  ¯\_(ツ)_/¯ */
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url("../images/ac-background.jpg"); */
    background: rgb(52,225,251);
    background: linear-gradient(135deg, rgba(52,225,251,1) 0%, rgba(157,255,90,1) 100%);
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: 'Roboto Slab', serif;
    color: #FFCC00;
    background-color: #996600;
}
.logo{
    height: 250px;
    margin: 30px;
}
.card{
    background-color: rgba(0,215,130, .4);
    padding: 30px 30px 15px 30px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0, .25);
}
.animalizame-form{
    display: flex;
    flex-direction: column;
}
.form-title{
    font-family: 'Roboto', sans-serif;
    align-self: flex-start;
    color: white;
}
.text-to-speech{
    width: 350px;
    max-width: 500px;
    background-color: transparent;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    padding: 5px;
    margin: 10px;
    outline: none;
    transition: .2s;
}
.text-to-speech:focus{
    background-color: rgba(0,0,0, .05);
    border-radius: 5px;
    color: white;
}
::placeholder{
    color: white;
}
.animalizame-button{
    text-align: center;
    background-color: rgba(255,255,255, .2);
    padding: .6em .6em .6em;
    font-size: 20px;
    border: none;
    color: white;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: inset 0 -.2em rgba(0,0,0, .2);
    outline: 0;
    transition: .2s;
    will-change: transform;
}
.animalizame-button:active{
    transform: scale(.9);
}

.section-media{
    text-align: center;
    color: white;
    margin: 30px 10px 10px 10px;
    padding: 5px;
}
.section-media a{
    color: white;
    text-decoration: none;
}
.section-media .icon{
    transition: .2s ease-in-out;
    will-change: transform;
}
.section-media .icon:hover{
    cursor: pointer;
    transform: scale(1.4);
}
.tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.tooltip .tooltiptext {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 56%;
    opacity: 0;
    transition: opacity 0.5s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

@media screen and (max-width: 600px){
    .logo{
        height: 200px;
        margin: 20px;
    }
    .text-to-speech{
        width: 200px;
    }
}

@media screen and (max-width: 300px){
    .logo{
        height: 180px;
        margin: 20px;
    }
    .text-to-speech{
        width: 100px;
    }
}